#AboutPage { 
   background-image: url("./assets/image/Flame_Training_transparent_by_Icons8.gif");
   @include Pages();
  // margin-inline-start  : 15%;
   margin-bottom: 20%;
  }
  @media (max-width: 720px) {
    #AboutPage {
     height: auto;
     text-align: center;
     background-color: $color1;
     background-image: none;
     margin-left: 4rem;
     padding-top: 4rem;
    }
    .Title {
        font-size: 4rem;
    }
}

  
.Card-Tech {
    
    padding-top: 10%;
    margin-left: -5rem;
    font-size:4rem;
    color: $color2;
    
    :hover {
        font-size: 5.3rem;
        box-shadow: 7px 7px 5px 2px $color2;
        border-radius: 30%;
        color: $color4;
        transition: all 0.5s ease;
    }
}  

.Title {
    padding-top: 10%;
    color: $color2;
}
