.footer {
   color: $color2;
   background-color: black;
   border-top: 0.3rem solid $color2;
   margin-top: 10%;
}
.list-unstyled {
    margin-inline: 10rem;
    display: flex;
}

.FooterRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}


@media (max-width: 720px) {
    .footer  {
     text-align: center;
    }
}